<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <error-page>
    <exception-type>Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  
  <servlet>
    <description></description>
    <display-name>ShowContent</display-name>
    <servlet-name>ShowContent</servlet-name>
    <servlet-class>com.ericsson.jigsaw.simulator.mail.web.action.ShowContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowContent</servlet-name>
    <url-pattern>/ShowContent</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DownloadAttachments</display-name>
    <servlet-name>DownloadAttachments</servlet-name>
    <servlet-class>com.ericsson.jigsaw.simulator.mail.web.action.DownloadAttachmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadAttachments</servlet-name>
    <url-pattern>/DownloadAttachments</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DownloadMedia</display-name>
    <servlet-name>DownloadMedia</servlet-name>
    <servlet-class>com.ericsson.jigsaw.simulator.mail.web.action.DownloadMediaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadMedia</servlet-name>
    <url-pattern>/DownloadMedia</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <description></description>
    <display-name>ShowUserMails</display-name>
    <servlet-name>ShowUserMails</servlet-name>
    <servlet-class>com.ericsson.jigsaw.simulator.mail.web.action.ShowUserMailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserMails</servlet-name>
    <url-pattern>/ShowUserMails</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ManageUsers</display-name>
    <servlet-name>ManageUsers</servlet-name>
    <servlet-class>com.ericsson.jigsaw.simulator.mail.web.action.ManageUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUsers</servlet-name>
    <url-pattern>/ManageUsers</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ManageDomains</display-name>
    <servlet-name>ManageDomains</servlet-name>
    <servlet-class>com.ericsson.jigsaw.simulator.mail.web.action.ManageDomainsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageDomains</servlet-name>
    <url-pattern>/ManageDomains</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!-- test -->
  <!-- <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>Test.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMailDetail</display-name>
    <servlet-name>ShowMailDetail</servlet-name>
    <servlet-class>Test.ShowMailDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMailDetail</servlet-name>
    <url-pattern>/ShowMailDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailContent</display-name>
    <servlet-name>MailContent</servlet-name>
    <servlet-class>Test.MailContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailContent</servlet-name>
    <url-pattern>/MailContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowNewContent</display-name>
    <servlet-name>ShowNewContent</servlet-name>
    <servlet-class>Test.ShowNewContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNewContent</servlet-name>
    <url-pattern>/ShowNewContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHeader</display-name>
    <servlet-name>ShowHeader</servlet-name>
    <servlet-class>Test.ShowHeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHeader</servlet-name>
    <url-pattern>/ShowHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUsers</display-name>
    <servlet-name>ShowUsers</servlet-name>
    <servlet-class>Test.ShowUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUsers</servlet-name>
    <url-pattern>/ShowUsers</url-pattern>
  </servlet-mapping> -->
</web-app>